
<form autocomplete="off" class="form form--dark" method="POST" action="/login">
    <div class="form__align">
        <label class="form__label" for="userName">UserName:</label>
        <input autocomplete="off" class="form__input" type="text" name="userName">
        <br>
        <label class="form__label"for="password">Password:</label>
        <input autocomplete="off" class="form__input" type="password" name="password" id="">
        <br>
        <button onclick="this.classList.toggle('form__button--spinner')" class="form__button form--green" type="submit">
            <span class="form__button__text">Login</span> 
        </button>
    </div>
</form>