<nav class="nav">
    <ul class="nav__container">
        <li class="nav__list-Item"><a class="nav__link" href="/">Home</a></li>
        <li class="nav__list-Item"><a class="nav__link" href="/sign-up">sign-up</a></li>
        <li class="nav__list-Item"><a class="nav__link" href="/login">login</a></li>
    </ul>
</nav>